.first {
  display: flex;
  flex-direction: row;
  color: aliceblue;
  justify-content: space-around;
}
.movies {
  color: aliceblue;

  padding: 10px;
}
.pic {
  justify-content: start;
}
.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
hr{
  border-bottom: 3px solid  rgb(185, 134, 22);
}
.seach-box{
  margin-right: 5%;
  border: 1px solid black;
  height: 30px;
  border: 1px solid rgb(185, 134, 22);
}

.search{
  border: 1px solid rgb(185, 134, 22);
  height: 30px;
  font-family: "Pacifico", cursive;
  height: 34px;
  background-color: rgb(219, 183, 146);
}
