.App {
  text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: rgb(100, 98, 98);
}

.icon {
  color: aliceblue;
  width: 10%;
  height: 10%;
  margin-right: 5%;
  margin-top: 6%;
}

h3{
    margin-top: 8%;
    color: black;
    align-self: flex-start;
    font-family: "Pacifico", cursive;
}

p{
    color: black;
    font-family: "Pacifico", cursive;
}