.App {
  text-align: center;
  background-image: url('https://img.wallpapersafari.com/desktop/1600/900/29/23/QPCEwW.jpg');
  /* position: fixed; */
  /* min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center; */
  padding: 10px;
}
.icon {
  color: aliceblue;
}
